# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Terraform lock
# nếu muốn giữ provider version thì KHÔNG ignore dòng dưới
# .terraform.lock.hcl

# VSCode
.vscode/

# Binary
*.exe
*.zip
*.tar
*.tar.gz